<div class="text-center"><h1> Ankieta witalności </h1>

<div class="container"><h2 class="text-center text-success"> Krok 3: Styl życia i dieta </h2>
<div class="jumbotron text-left">
<h3>Zaznacz wszystkie, które cię dotyczą:</h3>

<%= form_for :zdrowie do |f| %>
<%= f.check_box :aktywnosc %>  Niewystarczająca aktywność fizyczna, siedzący tryb życia <br />
<%= f.check_box :owoce  %>  Mniej niż 3 porcje warzyw lub owoców dziennie <br />
<%= f.check_box :cukier %>  Pociąg do słodyczy <br />
<%= f.check_box :alkohol %>  Nadużywanie alkoholu <br />
<%= f.check_box :maka %>  Często białe pieczywo, makarony, potrawy mączne <br />
<%= f.check_box :mieso %>  Częste spożywanie czerwonego mięsa <br />
<%= f.check_box :nabial %>  Nadmiar nabiału w diecie <br />
<%= f.check_box :tłuszcz %>  Pokarmy tłuste lub smażone <br />
<%= f.check_box :waga %>  Trudności w utrzymaniu prawidłowej wagi <br />
<%= f.check_box :cukier %>  Nieprzestrzeganie diety <br />

<br/>

  <%= f.submit("Dalej") %>
<% end %>
</div>
</div>
</div>
