<div class="text-center"><h1> Ankieta witalności </h1>

<div class="container"><h2 class="text-center text-success"> Krok 2: Środowisko, leki, chemia </h2>
<div class="jumbotron text-left">
<h3>Zaznacz wszystkie, które cię dotyczą:</h3>

<%= form_for :zdrowie do |f| %>
<%= f.check_box :tyton %>  Palenie  papierosów <br />
<%= f.check_box :smog  %>  Smog, zanieczyszczenia powietrza, wody... <br />
<%= f.check_box :otc  %>  Często biorę leki bez recepty, np. przeciwbólowe <br />
<%= f.check_box :atb  %>  Niedawno zakończone antybiotyki <br />
<%= f.check_box :rx  %>  Przewlekle biorę leki na receptę <br/>
<%= f.check_box :woda  %>  Chlorowana woda do picia <br />
<%= f.check_box :cleaners  %>  Używam regularnie środków do czyszczenia ze sklepu <br />
<%= f.check_box :chemia  %>  Nadwrażliwość na chemikalia, artykuły spożywcze <br />
<%= f.check_box :alergia %>  Alergia na pokarmy <br />
<%= f.check_box :wziewne %>  Alergia na substancje w powietrzu <br />


  <br/>

  <%= f.submit("Dalej") %>
<% end %>
</div>
</div>
</div>
