<div class="text-center"><h1> Ankieta witalności </h1>

<div class="container"><h2 class="text-center text-success"> Krok 5: Zdrowie układowe, cz.1 </h2>
<div class="jumbotron text-left">
<h3>Zaznacz wszystkie, które cię dotyczą:</h3>

<%= form_for :zdrowie do |f| %>
  <%= f.check_box :wlosy_wypadanie %> Wypadanie włosów  <br />
  <%= f.check_box :cera  %> Problemy z cerą <br />
  <%= f.check_box :skora_defekty  %> Defekty na skórze lub nieodpowiedni kolor skóry <br />
  <%= f.check_box :paznokcie %> Rozdwajające się i łamliwe paznokcie  <br />
  <%= f.check_box :wlosy_zniszczone %> Suche, matowe, zniszczone włosy  <br />
  <%= f.check_box :dysmenorrhea %> Bolesne lub nieregularne miesiączki  <br />
  <%= f.check_box :zimno %> Zimne ręce lub stopy <br />
  <%= f.check_box :menopauza %> Problemy menopauzalne <br />
  <%= f.check_box :trawienie %> Problemy z trawieniem <br />
  <%= f.check_box :gaz  %> Nadmierne odbijanie lub gazy po posiłkach <br />
  <%= f.check_box :trawienie %> Zgaga lub wzdęcia po jedzeniu <br />

  <br />
  <%= f.submit("Dalej") %>
<% end %>
</div>
</div>
</div>
