<%= przelicz_parametry %>
<div class="container">
<div class="m-3"><h1 class="text-center">Twoje wyniki personalnej ankiety witalności </h1>
<p class="text-center">To jest wersja testowa ankiety. Testuj jej działanie i jeśli masz uwagi, prześlij je do nas </p>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">

      <div class="row m-1"> <h2 class="text-success"> Układ pokarmowy </h4> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu pokarmowego jest...</p>

          <h3><%= wydaj_ocene(policz_procent($parametry[:pokarmowy],$absolute_counts[:pokarmowy])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:pokarmowy],$absolute_counts[:pokarmowy]))}", style: "width: #{policz_procent($parametry[:pokarmowy],$absolute_counts[:pokarmowy])}%") %>

          </div>
          <br/>
          <p class="text-muted"> Dobra kondycja układu pokarmowego jest niezbędna do prawidłowego przyswajania składników odżywczych, w tym witamin minerałów.
Najważniejsze elementy tego układu to: przełyk, żołądek, jelita, wątroba i trzustka.
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-digestive.png", :alt => "układ pokarmowy", class: 'img-fluid float-right') %>
        </div>
      </div>
        <div class="row m-1 p-1">
          <a href="https://www.e-naturessunshine.com/shop/categories/11,0,uklad-pokarmowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
        </div>
        <div class="container">
          <p class="row m-1 p-1">Dowiedz się więcej: </p>
          <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-pokarmowy/" target="_blank"> Integmed.pl </a></p>
          <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

        </div>
      </div>
    </div>


  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Energia i metabolizm</h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan energii jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:energia],$absolute_counts[:energia])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:energia],$absolute_counts[:energia]))}", style: "width: #{policz_procent($parametry[:energia],$absolute_counts[:energia])}%") %>
          </div>
          <br/>
          <p class="text-muted">Osłabiony organizm nie jest w stanie sprostać wymaganiom wpółczesnego świata.
Zmęczenie, senność, złe samopoczucie to nie powinna być Twoja codzienność.
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-body_composition.png", :alt => "układ pokarmowy", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/12,0,energia-i-metabolizm.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/energia-i-metabolizm/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-6">
      <div class="container border border-secondary m-1 p-2">
        <div class="row m-1"> <h2 class="text-success"> Układ krążenia </h2> </div>
        <div class="row m-1">
          <div class="col">
            <p class="text-muted">Można podejrzewać, że twój stan układu krążenia jest...</p>
            <h3><%= wydaj_ocene(policz_procent($parametry[:kardio],$absolute_counts[:kardio])) %></h3>
            <div class="progress">
             <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:kardio],$absolute_counts[:kardio]))}", style: "width: #{policz_procent($parametry[:kardio],$absolute_counts[:kardio])}%") %>
            </div>
            <br/>
            <p class="text-muted"> Prawdopobnie najważniejszy układ Twojego organizmu, odpowiadający za transport tlenu i składników odżywczych.
Najważniejsze elementy układu to: serce, tętnice, żyły, naczynia limfatyczne i mikrokrążenie (naczynia włosowate).
            </p>

          </div>
          <div class="col">
            <%= image_tag("diagram-circulatory.png", :alt => "układ krążenia", class: 'img-fluid float-right') %>
          </div>
        </div>
        <div class="row m-1 p-1">
          <a href="https://www.e-naturessunshine.com/shop/categories/13,0,uklad-krazenia.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
        </div>
        <div class="container">
          <p class="row m-1 p-1">Dowiedz się więcej: </p>
          <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-krazenia/" target="_blank"> Integmed.pl </a></p>
          <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="container border border-secondary m-1 p-2">
        <div class="row m-1"> <h2 class="text-success"> Układ oddechowy </h2> </div>
        <div class="row m-1">
          <div class="col">
            <p class="text-muted">Można podejrzewać, że twój stan układu oddechowego jest...</p>
            <h3><%= wydaj_ocene(policz_procent($parametry[:oddechowy],$absolute_counts[:oddechowy])) %></h3>
            <div class="progress">
             <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:oddechowy],$absolute_counts[:oddechowy]))}", style: "width: #{policz_procent($parametry[:oddechowy],$absolute_counts[:oddechowy])}%") %>
            </div>
            <br/>
            <p class="text-muted">Oddychanie to najważniejsza funkcja ludzkiego organizmu. Coraz trudniej zachować układ oddechowy w dobrej kondycji. Otaczające nas powietrze jest pełne spalin i innych zanieczyszczeń.
            </p>

          </div>
          <div class="col">
            <%= image_tag("diagram-respiratory.png", :alt => "układ oddechowy", class: 'img-fluid float-right') %>
          </div>
        </div>
        <div class="row m-1 p-1">
          <a href="https://www.e-naturessunshine.com/shop/categories/14,0,uklad-oddechowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
        </div>
        <div class="container">
          <p class="row m-1 p-1">Dowiedz się więcej: </p>
          <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-oddechowy/" target="_blank"> Integmed.pl </a></p>
          <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Układ moczowy </h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu moczowego jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:moczowy],$absolute_counts[:moczowy])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:moczowy],$absolute_counts[:moczowy]))}", style: "width: #{policz_procent($parametry[:moczowy],$absolute_counts[:moczowy])}%") %>
          </div>
          <br/>
          <p class="text-muted"> Układ moczowy pozwala pozbyć się z organizmu niebiezpiecznych toksyn i szkodliwych produktów przemiany materii.
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-urinary.png", :alt => "układ moczowy", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/15,0,uklad-moczowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-moczowy/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Układ hormonalny </h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu hormonalnego jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:hormonalny],$absolute_counts[:hormonalny])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:hormonalny],$absolute_counts[:hormonalny]))}", style: "width: #{policz_procent($parametry[:hormonalny],$absolute_counts[:hormonalny])}%") %>
          </div>
          <br/>
          <p class="text-muted">Układ hormonalny zapewnia wewnętrzną komunikację między narządami, która reguluje szeroko pojęty metabolizm, wzrost i dojrzewanie, instynkty i emocje, a także funkcje seksualne.</p>
        </div>
        <div class="col">
          <%= image_tag("diagram-glandular.png", :alt => "układ hormonalny", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/16,0,uklad-hormonalny.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-hormonalny/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Układ nerwowy </h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu nerwowego jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:nerwowy],$absolute_counts[:nerwowy])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:nerwowy],$absolute_counts[:nerwowy]))}", style: "width: #{policz_procent($parametry[:nerwowy],$absolute_counts[:nerwowy])}%") %>
          </div>
          <br/>
          <p class="text-muted"> Zdrowy układ nerwowy to gwarancja odpowiedniego reagowania na bodźce napływające z otoczenia. Mózg i nerwy odpowiadają za sprawne współdziałanie wszystkich organów ze sobą i dostosowywanie się do środowiska.
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-nervous.png", :alt => "układ nerwowy", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/19,0,uklad-nerwowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-nerwowy/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Układ mięśniowo-szkieletowy </h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu mięśniowo-szkieletowego jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:ruchu],$absolute_counts[:ruchu])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:ruchu],$absolute_counts[:ruchu]))}", style: "width: #{policz_procent($parametry[:ruchu],$absolute_counts[:ruchu])}%") %>
          </div>
          <br/>
          <p class="text-muted"> Zdrowe mięśnie, kości i stawy to gwaracja mobilności i odporności na kontuzje. Dbaj o nie w każdym wieku, nawet jeśli jeszcze nie bolą. Ruch to zdrowie!
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-structural.png", :alt => "układ mięśniowo-szkieletowy", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/17,0,uklad-miesniowo-szkieletowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-ruchu/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="container border border-secondary m-1 p-2">
      <div class="row m-1"> <h2 class="text-success"> Układ odpornościowy </h2> </div>
      <div class="row m-1">
        <div class="col">
          <p class="text-muted">Można podejrzewać, że twój stan układu odpornościowego jest...</p>
          <h3><%= wydaj_ocene(policz_procent($parametry[:immune],$absolute_counts[:immune])) %></h3>
          <div class="progress">
           <%= tag(:span, class: "progress-bar #{wstaw_kolor(policz_procent($parametry[:immune],$absolute_counts[:immune]))}", style: "width: #{policz_procent($parametry[:immune],$absolute_counts[:immune])}%") %>
          </div>
          <br/>
          <p class="text-muted"> Nikomu nie trzeba tłumaczyć, jak ważne jest utrzymanie odporności w dobrej kondycji. Nikt przecież nie chce chorować.
          </p>

        </div>
        <div class="col">
          <%= image_tag("diagram-immune.png", :alt => "układ odpornościowy", class: 'img-fluid float-right') %>
        </div>
      </div>
      <div class="row m-1 p-1">
        <a href="https://www.e-naturessunshine.com/shop/categories/18,0,uklad-odpornosciowy.html" class="btn btn-success" role="button" target="_blank">Zobacz rekomendowane produkty</a>
      </div>
      <div class="container">
        <p class="row m-1 p-1">Dowiedz się więcej: </p>
        <p class="row m-1 p-1"><a href="https://integmed.pl/tag/uklad-immunologiczny/" target="_blank"> Integmed.pl </a></p>
        <p class="row m-1 p-1"><a href="http://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home " target="_blank"> Rejestr UE </a></p>

      </div>
    </div>
  </div>


</div>

</div>
